{% extends 'base.html.twig' %}

{% block title %}Gestion des questions{% endblock %}

{% block body %}

    <h1 class="my-4">{{question.id ? 'Modification ': 'Création '}}d'une question </h1>

    {{form_start(form)}}

    {{form_row(form, {label: false})}}

    <input type="submit" value="Valider" class="btn btn-success">

    {{form_end(form)}}

{% endblock %}
